body{
    margin: 0 0 0 0;
}
div{
    margin: 0 0 0 0;
}
nav a{
    color: black;
}

a {
    text-decoration: none;
}
li{
    list-style: none;
}
#menu{
    width: 40%;
    height: 100%;
    background: white;
}
#header_title:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
#header_menu:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
#page_About:hover{
    background-color: #ACDEE7;
}
#page_Project:hover{
    background-color: #FFE699;
}
#page_QA:hover{
    background-color: #C3D9C2;
}
