body{
    margin: 0 0 0 0;
}
div{
    margin: 0 0 0 0;
}
nav a{
    color: black;
}

#header_title:after{display:inline-block; height:100%; content:""; vertical-align:middle;}

#page_About:hover{
    background-color: #ACDEE7;
}
#page_Project:hover{
    background-color: #FFE699;
}
#page_QA:hover{
    background-color: #C3D9C2;
}

@media (max-width: 1100px) {
    .hometitle{
        padding-top: 40%;
    }
}