@font-face{font-family: 'fontB';src: url('../Resources/Font/NanumSquareB.ttf')}
@font-face{font-family: 'fontR';src: url('../Resources/Font/NanumSquare.ttf')}
@font-face{font-family: 'fontRB';src: url('../Resources/Font/NanumSquareR.ttf')}
@font-face{font-family: 'fontL';src: url('../Resources/Font/NanumSquareL.ttf')}

.fontB{font-family: 'fontB';}
.fontRB{font-family: 'fontRB';}
.fontR{font-family: 'fontR';}
.fontL{font-family: 'fontL';}

*{
    font-family:'fontRB';
}

body{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a { text-decoration:none }
a:link { color: black; }
a:visited { color: black; }

#top_menu{
    width: 100%; 
    overflow: hidden; 
    position: fixed; 
    top: 0px; 
    display: block; 
    background-color: #F2F2F2;
}

#header_title{
    width: 27%; 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
    display: inline-block; 
    padding-left: 3%;
}

#header_title_img{
    height: 50%; 
    display: inline-block; 
    vertical-align: middle;
}

#header_menu{
    float: right;
    right: 0;
    width: 70%; 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
}

#showRightMenuOpen{
    position: fixed;
    border-style: none; 
    background-color: white;
}

.post_title{
    float: left;
    font-family: 'fontB';
    text-align: left;
    font-size: 2.2em;
}

.post_expl{
    text-align: center;
    background-color: #F2F2F2;
    clear: left;
    line-height: 200%;
    padding: 1.5em;
    border-radius: 0.4em;
    margin-bottom: 5%;
    font-size: 1.2em;
}

.post_link_title{
    text-align: left;
    font-family: 'fontB';
    padding-bottom: 1em;
}

.post_link{
    height: 2.5em;
    width: 100%;
    border-radius: 0.4em;
    border-width: 1em;
    text-align: left;
    padding-left: 1em;
    background-color: #F2F2F2;
    line-height: 2.5em;
}